<div class="about-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="container pt-1 about-text">
          
          <div class="head-text mt-4">
           <p class="first-para">
              The torchbearer for development and promotion of sports and games in Kerala, the Directorate of Sports and Youth Affairs (DSYA) was established in the year 1986.
           </p>
           <p>
              The Directorate spearheads the sports movement covering all areas pertaining to the promotion and development of sports and games in the state through the development of proper and quality infrastructure for sports, providing facilities and programmes related to youth welfare. Apart from these, DSYA takes up activities to bring in latest technologies and innovations in sport in order to provide that winning edge to all sports persons of Kerala.
           </p>
           <p>
              In charge of creating awareness among the public regarding the importance of sports, it also provides facilities for training, grooming of sports persons to meet international benchmarks and programmes related to youth welfare. An Isokinetic system with an Altitude stimulated Training (ASTRA) facility for excellence in endurance sports is one of the many landmark achievements of DSYA.
           </p>
           <p>
              There are several other successful programmes under the aegis of the DSYA. The Directorate has been conducting the 'Swim and Survive Program', a survival training programme targeting school children formulated by the Rashtriya Life Saving Society (India), an organization providing leadership in life saving activities in India through training and operations.
              <span class="cont-read" (click)="hideFirst=false" [hidden]='!hideFirst'>Continue Reading..</span>
            </p>
           
           <p [hidden]='hideFirst'>
             'Kayika Kalveppu' is a scheme that provides continuous training for school going children in the state, between the age group of 5-12 years, in football, volleyball, basketball and tennis.
           </p>
           <p [hidden]='hideFirst'>
              Apart from several such successful schemes, the Directorate offers sportspersons with state of the art facilities as well. Swimming pools using modern facilities, long jump and triple jump pits with synthetic run up, four lane straight running tracks, high jump run up and landing pits, kabaddi floor, synthetic football turf, shuttle badminton court, Futsal, maple wood flooring, you name it DYSA has it. The Greenfield Stadium at Kariavattom is already touted to be the best stadium in the entire nation.
           </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 mt-1">
          <div class="home-image"></div>
      </div>
    </div>
  </div>
</div>