<div class="privacy-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="container pt-1 about-text">
          <div *ngFor="let item of data" class="mt-2">
            <p-panel header={{item.title}} [toggleable]="true" [collapsed]="true">{{item.text}}</p-panel>
          </div>
          <!-- <div class="head-text mt-4">
           <p class="first-para fontStyle1">
            GENERAL INSTRUCTIONS, TERMS & CONDITIONS AND PRIVACY POLICY</p>
            <p class="fontStyle2 alignfix">
              (TO BE STRICTLY FOLLOWED FOR EXPERIENCING KERALA SOPRTS ONLINE BOOKING APPLICATION)</p>
           <p  class="fontStyle2">
            GENERAL INSTRUCTIONS           </p>
           <p>
            Kindly note the following before proceeding to register directly or through our website using Online Registration Facility for Experiencing "KERALA SPORTS ONLINE BOOKING PLATFORM" at Directorate of Sports and Youth Affairs,Jimmy George Indoor Stadium,Vellayambalam, Thiruvananthapuram.Kerala
            Email: dsyagok@gmail.com
            </p>
           
           <p >
            The User should have a minimum Age of 13 years or above. (Age limit is restricted to experience use the online web site)
          </p>
           <p>
            Once a particular Time Slot allotted is booked and allotted, it cannot be cancelled.         
            </p>
            <p>
              No refund of the already remitted fees (i.e. payment received in lieu of the facility usage charges etc) shall be considered under any circumstances.
            </p>
            <p>
              Directorate of Sports and Youth Affairs reserves the right to vary the Time slots, even though already allotted.          
            </p>
            <p>
              Directorate of Sports and Youth Affairs reserves the right to vary the Time slots, even though already allotted.          
            </p>
            
<p  class="fontStyle2">At the time of Booking:</p>

<p>Use correct Mobile Phone Number & Email ID while registration.</p>

<p>Read all the Terms & Conditions before initiating the payment.</p>

<p>Time Slot per person is limited.</p>

<p>The charges for registration, booking may very from time to time.</p>
<p>For using all the listed facilities need a valued entry pass.</p>

<p>There will be an additional amount chargeable from the User as payment gateway service charge in case of online payment.</p>

<p  class="fontStyle2">At the Venue:</p>

<p>User should report at the venue 15 minutes before the allotted time slot.</p>

<p>User should bring any one of your valid photo ID proof (like Driving License/Voter ID/Passport/Aadhaar Card) & the Receipt you received in your email after registration. </p>

<p>Personal Safety is very important & each User should take care and strictly follow the instructions given by the instructors at KERALA SPORTS HUBS Active facility area. Personal safety is their own responsibility.</p> 

<p>Equipment’s safety is also very important & User should take care for the same. </p>

<p>Any equipment damage caused from customer side that should be borne by the particular User.</p>

<p>Always be aware of surrounding when using the facility at all times.</p>

<p>Directorate of Sports and Youth Affairs will not take any responsibility for any health issues of the User, on account of experiencing the facilities provided by us . </p>

<p>For mor details please feel to contact us at Directorate of Sports and Youth Affairs,Jimmy George Indoor Stadium,Vellayambalam, Thiruvananthapuram.Kerala</p>
<p>Email: dsyagok@gmail.com</p>
          </div> -->
        </div>
      </div>
      <div class="col-md-5 mt-1">
          <div class="home-image"></div>
      </div>
    </div>
  </div>
</div>