<div class="header-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark  static-top row toprow">
    <div class="container">
      <a class="navbar-brand logoBox" href="#">
            <img src="./assets/images/logo.png" alt="" style="height: 100%">
      </a>
      <span class="ml-2 app-title-main">SPOTS</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="BackEnd.editMode != true">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing/home">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/landing/about">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing/login">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing/privacy">Privacy & Security</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing/faq">FAQ</a>
          </li>
          <li class="nav-item special">
            <a class="nav-link" routerLink="/landing/facility">JOIN</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="BackEnd.editMode">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="this.BackEnd.memberRole =='user'">
            <a class="nav-link" routerLink="/user/profile">Profile</a>
          </li>
          <li class="nav-item " *ngIf="this.BackEnd.memberRole =='user'">
            <a class="nav-link" routerLink="/user/history">Booking History</a>
          </li>
          
          <li class="nav-item" *ngIf="this.BackEnd.memberRole =='user'">
            <a class="nav-link" routerLink="/user/sport">Book Now</a>
          </li>
          <li class="nav-item" *ngIf="this.BackEnd.memberRole=='user'">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>
