.book-wrapper{
    background: #E5E5E5;
    width: 90%;
    margin:0 auto;
}
.facility-image{
    height: 240px;
    width: 100%;
}
.sub-facility-list{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding:8px;
    margin-top: 2%;
}
.facility-info div:first-child{
    font-weight: 500;
    font-size: 19px;
}
.facility-info .locn{
    font-weight: 500;
    font-size: 14px;
}
.book-wrapper .slot-title{
    font-weight: 500;
    font-size: 14px;
}
.book-wrapper ul{
    padding-left: 15px !important;
}
.book-wrapper ul li{
    list-style: none;
    min-width: 150px;
    background: #EAEAEA;
    border: 1px solid #A3A3A3;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
    margin: 3px;
    padding: 3px;
    position: relative;
    cursor: pointer;
    text-align: center;

}
.book-wrapper ul li:hover{
    background: rgba(0, 121, 255, 0.2);
}
.book-wrapper ul li.active{
    background: rgba(0, 121, 255, 0.2);
    border: 1px solid #0079FF;
}
.box-1{
    /* width: 20%; */
    /* float: left; */
    /* background: red; */
    /* height: 130px; */
}
.box-2 label{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    /* width:80%;
    float: left; */
}
.book-wrapper .subfac-box{
    border: 1px solid #cccccc;
box-sizing: border-box;
box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
border-radius: 4px;
}
.review-info{

    border: 1px solid #cccccc;
    border-top: solid 6px #0079FF;
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 8px;
    background: #ffffff;
}
.rev-title{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    /* line-height: 16px; */
    letter-spacing: 0.03em;
    color: #8C8C8C;
}
.rev-data{
    font-style: normal;
font-weight: 500;
font-size: 17px;
/* identical to box height */
color: #333333;
}
.rupee{
    height: 17px;
    width: 20px;
    background: url("../../../assets/images/rupee.png") no-repeat;
    display: inline-block;
    /* margin-right: 5px; */
    background-size: contain;
}
.split-info{
    /* position: absolute; */
    /* height: 60px;
    width: 120px; */
    background: #cce4ff;
    border-radius: 6px;
    border: 1px solid #309ebf;
    margin-left: 10px;
    padding: 4px;
}
.split-price{
    color: #0079ff;
    /* font-weight: 100; */
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
    margin-left: 15px;
}
.split-info p{
    margin: 0 !important;
    font-size: 13px !important;
}