.app-content-area-user{
    height: calc(100% - 125px);
    overflow-y: auto;
    /* background: #dcf7d5; */
    overflow-x: hidden;
    /* padding-top: 4px; */
    /* padding-bottom: 4px; */
    margin-left: -15px;
    margin-right: -15px;
    background: url("../../assets/images/about-back.jpg");
}
