.landingScreenContainer{
    width: 100%;
}
.app-content-area{
    min-height: calc(100% - 116px);
    overflow-y: auto;
    /* background: #dcf7d5; */
    overflow-x: hidden;
    /* padding-top: 4px; */
    padding-bottom: 4px;
    margin-left: -15px;
    margin-right: -15px;
    background: url("../../assets/images/about-back.jpg");
}
#app-area::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#app-area::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
#app-area::-webkit-scrollbar-thumb {
    background-color: green;
}
