<!-- <p-dialog modal="true" header="edit info" draggable=false  [(visible)]="editMode" [style]="{width: '70%'}" >
  <div class="container editpopup"> 
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="firstName">Member Name</label>
          <input type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.memberName.errors }" />
          <div *ngIf="submitted && f.memberName.errors" class="invalid-feedback">
              <div *ngIf="f.memberName.errors.required">Name is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="lastName">Gender</label>
          <select   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" >
            <option>Male</option>
            <option>Female</option>
            <option>Transgender</option>
          </select>
            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
              <div *ngIf="f.gender.errors.required">Gender is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group cal" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
          <label for="username">DoB</label>
          <br>
          <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'85%'}"  dateFormat="dd.mm.yy" showIcon="true" [yearNavigator]="true" yearRange="1950:2020"></p-calendar>
          <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
              <div *ngIf="f.dateOfBirth.errors.required">DoB is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="guardName">Guardian Name</label>
          <input type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guardName.errors }" />
          <div *ngIf="submitted && f.guardName.errors" class="invalid-feedback">
              <div *ngIf="f.guardName.errors.required">Guardian name is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="address">Address</label>
          <input   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="state">State</label>
          <select type="text" (change)="handleStateSelection()"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" >
            <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
          </select>
          <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">State  is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="district">District</label>
          <select type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.district.errors }" >
            <option *ngFor="let district of districtList" [value]="district">{{district}}</option>
          </select>
          <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
              <div *ngIf="f.district.errors.required">Age is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">City is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="pin">PIN Code</label>
          <input type="number"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
          <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
              <div *ngIf="f.pin.errors.required">PIN is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="mobNumber">Contact Number</label>
          <input type="number"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobNumber.errors }" />
          <div *ngIf="submitted && f.mobNumber.errors" class="invalid-feedback">
              <div *ngIf="f.mobNumber.errors.required">Number is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email  is required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="idType">ID Proof Type</label>
          <select   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idType.errors }" >
              <option>Aadhar</option>
              <option>Voter ID</option>
              <option>Driving License</option>
          </select>
            <div *ngIf="submitted && f.idType.errors" class="invalid-feedback">
              <div *ngIf="f.idType.errors.required">ID Proof type required</div>
          </div>
      </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label for="idNumber">ID Proof Number</label>
          <input type="text"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idNumber.errors }" />
          <div *ngIf="submitted && f.idNumber.errors" class="invalid-feedback">
              <div *ngIf="f.idNumber.errors.required">ID Proof Number is required</div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <p-footer>
    <input type="button" value="CONFIRM & PAY" class="btn-reg" (click)="registerMember()"/>
</p-footer>
</p-dialog>
 -->


<div class="">
  <div class="vd_content-section clearfix">
    <div class="row">
      <div class="col-md-3 side-content">
        <div class="panel widget light-widget panel-bd-top topfix">
          <div class="panel-heading no-title"> </div>
          <div class="panel-body">
            <div class="text-center vd_info-parent">
              <img alt="" src={{memberInfo.memberPhoto}} style="height: 150px;"> </div>
              
              <!-- <h5 class="font-semibold mgbt-xs-5 ml-5">{{memberInfo.memberName}}</h5> -->
              <div class="mgtp-20">
                <table class="table table-striped table-hover">
                  <tbody>
                      <tr>
                          <td style="width:60%;">Member ID</td>
                          <td><span class="label label-success">{{memberInfo.memberId}}</span></td>
                        </tr>
                    <tr>
                      <td style="width:60%;">Status</td>
                      <td><span class="label label-success">{{memberInfo.active == true ? "Active" : "Expired"}}</span></td>
                    </tr>
                    
                    <tr>
                      <td>Membership Ends On</td>
                      <td>{{memberInfo.memberTypeValidity}}</td>
                    </tr>
                    <!-- <tr style="text-align: center">
                      <td colspan="2"><input type="button" (click)="renewMember()" value="Renew Membership" class="btn btn-info" /></td>
                    </tr> -->
                    <!-- <tr style="text-align: center">
                      <td colspan="2"><input type="button" (click)="editMember()" value="Edit Info" class="btn btn-info" /></td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- panel widget -->
          
          
          <!-- panel widget --> 
        </div>
        <div class="col-md-9 main-content">
          <div class="tabs widget topfix">
            <div class="tab-content">
              <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">
                  <div class="row"><h3 class="mgbt-xs-15 mgtp-10 font-semibold" ><i class="fas fa-user-circle"></i> ABOUT</h3>
                  <input type="button" (click)="editMember()" value="EDIT" class="btn btn-danger" style="margin-left: 4%; min-width: 80px;"/>
                  <input type="button" class="btn btn-success" [disabled]="!memberInfo.isRenewalPending"  (click)="renewMember()" value="RENEW MEMBERSHIP" class="btn btn-success" style="margin-left: 2%;min-width: 80px;"/>
                </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Name : </label>
                        <div class="col-xs-7 controls">{{memberInfo.memberName}}</div>
                        
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Date of Birth:</label>
                        <div class="col-xs-7 controls">{{memberInfo.dob}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Gender:</label>
                        <div class="col-xs-7 controls">{{memberInfo.gender}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Guardian Name:</label>
                        <div class="col-xs-7 controls">{{memberInfo.fatherName}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Street:</label>
                        <div class="col-xs-7 controls">{{memberInfo.street}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">City:</label>
                        <div class="col-xs-7 controls">{{memberInfo.city}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">District:</label>
                        <div class="col-xs-7 controls">{{memberInfo.district}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">PIN Code:</label>
                        <div class="col-xs-7 controls">{{memberInfo.pincode}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">State:</label>
                        <div class="col-xs-7 controls">{{memberInfo.state}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Country:</label>
                        <div class="col-xs-7 controls">{{memberInfo.country}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Email:</label>
                        <div class="col-xs-7 controls">{{memberInfo.email}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Mobile Number:</label>
                        <div class="col-xs-7 controls">{{memberInfo.memberContactNo}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">ID Proof:</label>
                        <div class="col-xs-7 controls">{{memberInfo.memberIdProofType}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">ID Proof Number:</label>
                        <div class="col-xs-7 controls">{{memberInfo.memberIdProof}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Preferred Sports:</label>
                        <div class="col-xs-7 controls">{{prefSport}}</div>
                        <!-- col-sm-10 --> 
                      </div>
                    </div>
                  </div>
                  <hr class="pd-10">
                  <div class="row">
                    <div class="col-sm-12 mgbt-xs-20">
                      <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> ACTIVE BOOKINGS</h3>
                      <div class="content-list content-menu activeTable">
                        <p-table #tt [value]="activeBookings" [paginator]="true" [rows]="4" [globalFilterFields]="['facilityName','bookingStartDate']" >
                          <ng-template pTemplate="caption">
                              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                              <input type="text" pInputText size="50" placeholder="Search" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                          </ng-template>
                        <ng-template pTemplate="header" >
                            <tr>
                                <th>Facility</th>
                                <th>SubFacility</th>
                                <th>Booking Start Date</th>
                                <th>Booking End Date</th>
                                <th>Time Slot</th>
                                <th>Paid Amount</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-activeBooking>
                            <tr>
                                <td>{{activeBooking.facilityName}}</td>
                                <td>{{activeBooking.subFacilityName}}</td>
                                <td>{{activeBooking.bookingStartDate}}</td>
                                <td>{{activeBooking.bookingEndDate}}</td>
                                <td>{{Utility.slotFormat(activeBooking.sessionStartTime)}} - {{Utility.slotFormat(activeBooking.sessionEndTime)}}</td>
                                <td>{{activeBooking.paidAmount}}</td>

                            </tr>
                        </ng-template>
                    </p-table>
                      </div>
                    </div>
                    
                  </div>
                  <!-- row -->
                  <hr class="pd-10">
                  
                  <!-- row --> 
                </div>
                <!-- pd-20 --> 
              </div>
              <!-- home-tab -->
              
              
              
              
              <!-- photos tab -->  
              <!-- groups tab -->   
              
            </div>
            <!-- tab-content --> 
          </div>
          <!-- tabs-widget -->              </div>
        </div>
        <!-- row --> 
        
      </div>
    </div>