.logoBox{
    height: 55px;
    padding: 0;
}
.toprow{
    
}
.nav-link{
    color:black !important;
    font-weight: 600;
}
.nav-item.active{
    
}
.nav-item:hover{
    border-bottom: solid 2px #00002d;
}
.navbar-toggler{
    background: black;
}
li{
    /* border-right:solid 3px #00002d; */
}
li:hover{
    /* background: #1a1a5d;
    color: wheat !important;*/
} 