.contact-wrapper{
    min-height: calc(100vh - 125px) !important;
   background: white;
}
.person-row{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 12px;
    margin-top: 2%;
    padding: 10px;
}
.p1-image{
    background:url("../../../assets/images/Jayathilak.jpg") no-repeat;
    width: 64%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.p2-image{
    background:url("../../../assets/images/sec.jpg") no-repeat;
    width: 64%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.p3-image{
    background:url("../../../assets/images/Ajith-Kumar-B.jpg") no-repeat;
    width: 64%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.p1-text p{
    margin-bottom: 0 !important;
}
.p1-text p{
    font-size: 14px;
    font-weight: 500;
}
.p1-text p.name{
    font-size: 17px;
    font-weight: 500;
}
.extra-size{
    font-size: 20px !important;
}
.center-image{
    background: url("../../../assets/images/center.png") no-repeat;
    height: 245px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 5px;
}
.time-contact-box div.lb{
    float: left;
}
.time-contact-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 12px;
}
::ng-deep .fa.fa-phone{
    transform: scaleX(-1);
}
.lb div{
    font-size: 14px;
    font-weight: 500;
}
.lb div:first-child{
    font-weight: 700;
}
/* .cont-wrapper{
    background:url("../../../assets/images/about-back.jpg")
}
.image-box{
    background: #00002d;
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px grey;
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px;
}
.cont1{
    background:url("../../../assets/images/Jayathilak.jpg");
    background-repeat: no-repeat;
}
.cont2{
    
    background:url("../../../assets/images/Sanjayan-Kumar.jpg");
    background-repeat: no-repeat;
}
.cont3{
    background:url("../../../assets/images/Ajith-Kumar-B.jpg");
    background-repeat: no-repeat;
}
.im{
    background-position: center;
    text-align: center;
    padding-top: 9%;
}
.im-text{
    padding: 1%;
    color:white;
}
.im-text span{
    display: block;
}
.cont-title{
    background: #00002d;
    font-weight: 500;
    color: white;
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px grey;
    padding: 5px;
    text-align: center;
}
.cont-title div{
    width: 100%;
    
}
.address{
    color:white;
}
.address span{
    display: block;
} */