<div class="contact-wrapper">
  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col-md-6">
        <div class="center-image"></div>
        <div class="person-row">
          <div class="col-md-12">
            <div class="p1-text">
              <p class="name extra-size"> Directorate of Sports and Youth Affairs</p>
              <p>Jimmy George Indoor Stadium</p>
              <p>Vellayambalam, Thiruvananthapuram</p>
              <p>Kerala </p>
              <!-- <p> Tel: +91 471 2327271</p> -->
              <p> Email: dsyagok@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="time-contact-box overflow-auto">
          <div class="col-md-6 lb">
            <div><fa name="clock" style="margin-right: 5px;"></fa>TIMINGS</div>
            <div>Mon-Sat (6am - 7pm)</div>
          </div>
          <div class="col-md-6 lb">
            <div><fa name="phone" style="margin-right: 5px;"></fa>CONTACT</div>
            <div>+91 471 2327271</div>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="row person-row">
          <div class="col-md-5">
            <div class="p1-image"></div>
          </div>
          <div class="col-md-7">
            <div class="p1-text">
              <p class="name">Dr.A Jayathilak IAS</p>
              <p>Secretary (Sports)</p>
              <p>Room No. 201A</p>
              <p>2nd Floor </p>
              <p>Annex I, Secretariat</p>
              <p>Thiruvananthapuram</p>
            </div>
          </div>
        </div>
        <div class="row person-row">
          <div class="col-md-5">
            <div class="p2-image"></div>
          </div>
          <div class="col-md-7">
            <div class="p1-text">
              <p class="name">Mr. Geromic George IAS</p>
              <p>Director</p>
              <p>Directorate of Sports and Youth Affairs</p>
              <p>Vellayambalam  </p>
              <p>Thiruvananthapuram</p>
              <p> Kerala</p>
            </div>
          </div>
        </div>
        <div class="row person-row">
          <div class="col-md-5">
            <div class="p3-image"></div>
          </div>
          <div class="col-md-7">
            <div class="p1-text">
                <p class="name">Mr. Ajith Kumar B.</p>
                <p>Additional Director </p>
                <p>Directorate of Sports and Youth Affairs</p>
                <p>Vellayambalam  </p>
                <p>Thiruvananthapuram</p>
                <p> Kerala</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    
  </div>
</div>