<div class="row cont-title">
  <div><span>KEY CONTACTS</span></div>
</div>



<div class="row image-box">
    <div class="col-2">
      <div class="im">
       <img src="./assets/images/Jayathilak.jpg">
    </div>
  </div>
  <div class="col-4">
    <div class="im-text">
        <span>Dr. A. Jayathilak IAS</span>
        <span>Secretary (Sports)</span>
        <span>Room No. 201A</span>
        <span>2nd Floor </span>
        <span>Annex I, Secretariat</span>
        <span>Thiruvananthapuram</span>
    </div>
  </div>
  <div class="col-4 address">
      <span> Directorate of Sports and Youth Affairs</span>
          <span>Jimmy George Indoor Stadium</span>
              <span>Vellayambalam, Thiruvananthapuram</span>
                  <span>Kerala </span>
                      <span> Tel: +91 471 2327271</span>
                          <span> Email: dsyagok@gmail.com</span>
  </div>
  </div>

  <div class="row image-box">
      <div class="col-2">
        <div class="im">
         <img src="./assets/images/Sanjayan-Kumar.jpg">
      </div>
    </div>
    <div class="col-8">
      <div class="im-text">
          <span>Mr. Sanjayan Kumar IFS</span>
          <span>Director</span>
          <span>Directorate of Sports and Youth Affairs</span>
          <span>Vellayambalam  </span>
          <span>Thiruvananthapuram</span>
          <span> Kerala</span>
      </div>
    </div>
    </div>

    <div class="row image-box">
        <div class="col-2">
          <div class="im">
           <img src="./assets/images/Ajith-Kumar-B.jpg">
        </div>
      </div>
      <div class="col-8">
        <div class="im-text">
            <span>Mr. Ajith Kumar B.</span>
            <span>Additional Director </span>
            <span>Directorate of Sports and Youth Affairs</span>
            <span>Vellayambalam  </span>
            <span>Thiruvananthapuram</span>
            <span> Kerala</span>
        </div>
      </div>
      </div>
    <!-- <div class="col "><div class="cont2 im"></div></div>
    <div class="col "><div class="cont3 im"></div></div>
</div> -->


