.faq-wrapper{
    min-height: calc(100vh - 125px) !important;
   background: white;
}
.home-image{
    background: url("../../../assets/images/home-image.JPG") no-repeat;
    height: 475px;
    width: 100%;
    background-size: 100% 100%;
}
.headline{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 106.3%;
    letter-spacing: 0.02em;
    color: #3C4852;
}
.head-text{
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 136.9%;
/* or 26px */


color: #3C4852;
}
.faqH{
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    margin-top:5px;
}
.head-text p{
   text-align: justify;
}
.about-text{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    padding: 12px;
    margin-top: 5px;
    padding: 10px;
}
.cont-read{
    color: red;
    font-weight: 500;
    cursor: pointer;
}

::ng-deep .ui-panel-content{
    text-align: justify;
}


/* .about-banner{
    height:330px;
    width: 100%;    
}
.banner-text-about{
    margin-top: 9%;
    text-align: center;
    color: white;
    font-size: 28px;
}
#q1{
    background: url("../../../assets/images/home-banner.jpg");
    background-position: center center;
    background-size: cover;
}
#q2{
    background: url("../../../assets/images/Banner-4.jpg");
    background-position: center center;
    background-size: cover;
}
#q3{
    background: url("../../../assets/images/Banner-5.jpg");
    background-position: center center;
    background-size: cover;
}
#q4{
    background: url("../../../assets/images/Banner-6.jpg");
    background-position: center center;
    background-size: cover;
}
.first-para{
    margin-top:4px;
}
.descrptn{
    padding-left: 15px;
    padding-right: 10px;
    background:#00002d;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 9px;
    background: linear-gradient(to right, #3b5c92, #373B44);


}
.descrptn p{
    text-align: justify;
}
/* Background Gradient for Analagous Colors */
 