<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="container pt-5 home-info">
          <div class="headline">
            <label>FIND AND BOOK SPORT <br/>FACILITIES ACROSS KERALA</label>
          </div>
          <div class="head-text mt-4">
            <p>Find sport facilities from football picthes to swimming</p>
            <p>pools in a range of cities across Kerala.Find and take</p>
            <p>membership for your favourite sport and train with the </p>
            <p>best coaches</p>
          </div>
          <div class="search-section mt-4">
            <div>
              
              <fa name="map-marker"></fa>
              <select id="mySelect" class="form-control home-select-fix col-md-9"  [(ngModel)]="searchedCenter">
                <!-- <option>Jimmy George Sports Hub</option> -->
                <option *ngFor="let center of centerList" [ngValue]="center">{{center.centreName}}</option>
  

              </select>
            </div>
            <div class="col-md-9 mt-3" style="text-align: center;">
              <input type="button" class="btn btn-secondary search-btn" value="SEARCH" (click)="goToJoinPage()"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
          <div class="home-image"></div>
      </div>
    </div>
  </div>
</div>