<div>
  <div class="row home-banner" id="t1">
    <div style="background: rgba(0,0,0,0.4);width: 100%">
      <div class="banner-text">
        <span>REGISTER | BOOK | PLAY</span>
      </div>
    </div>
  </div>
  <div class="row testi-head">
    <div><span>TESTIMONIALS</span></div>
  </div>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div><span>Great facility indeed !</span></div>
      </div>
      <div class="carousel-item">
       
        <div><span>World class facilities.</span></div>
      </div>
      <div class="carousel-item">
        
        <div><span>Multiple and hassle free payment options</span></div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
</div>