<div class="row setting_wrapper">
  <p-toast key="successToast" position="top-right"></p-toast>
  <div class="col-md-3 leftMenu">
    
    <ul>
      <!-- <li (click)="setScreen(0)">REGISTRATION</li> -->
      <!-- <li (click)="setScreen(1)">CENTER</li> -->
      <li (click)="setScreen(2)">FACILITY SETTINGS</li>
      <li (click)="setScreen(3)">SUB FACILITY SETTINGS</li>
      <!-- <li (click)="setScreen(4)">BADMINTON GROUP</li> -->
    </ul>
  </div>
  <div class="col-md-9 settings-content" *ngIf="WID == 0">
    <div class="p-2">
        <div class="p-2 report-title">REGISTRATION</div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <label for="firstName"> Enable center </label>
        <p-multiSelect [options]="centerList"  selectionLimit=2 showHeader=false  styleClass="multiPref" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'260px'}"></p-multiSelect>
        <div *ngIf="submitted && f.prefSport1.errors" class="invalid-feedback">
            <div *ngIf="f.prefSport1.errors.required">Preferred sport required</div>
        </div>
    </div>
    </div>
  </div>
  <div class="col-md-9 settings-content" *ngIf="WID == 1">
      <div class="p-2">
          <div class="p-2 report-title">CENTER</div>
      </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="firstName"> Enable center </label>
        <p-multiSelect [options]="centerList"  selectionLimit=2 showHeader=false  styleClass="multiPref" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'260px'}"></p-multiSelect>
        <div *ngIf="submitted && f.prefSport1.errors" class="invalid-feedback">
            <div *ngIf="f.prefSport1.errors.required">Preferred sport required</div>
        </div>
    </div>
    </div>
  </div>
  <div class="col-md-9 settings-content" *ngIf="WID == 2">
      <div class="p-2">
          <div class="p-2 report-title">FACILITY SETTINGS</div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Center</label>
          <div class="col-md-4">
              <select class="form-control" [(ngModel)]="center2" (change)="handleCenterSelection(center2,2)">
                <option value=""></option>
                <option *ngFor="let item of centerList" [value]="item.value">{{item.label}}</option>
              </select>
          </div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Enable Facility</label>
          <div class="col-md-4">
              <p-multiSelect [options]="FacilitiesToEnable"  [(ngModel)]="FtoEnable" showHeader=false  styleClass="multiPref" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'260px'}"></p-multiSelect>
          </div>
          <div class="col-md-2">
              <input type="button" value="ENABLE" class="btn btn-success" (click)="enableFacilities()"/>
          </div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Disable Facility</label>
          <div class="col-md-4">
              <p-multiSelect [options]="FacilitiesToDisable" [(ngModel)]="FtoDisable"  showHeader=false  styleClass="multiPref" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'260px'}"></p-multiSelect>
          </div>
          <div class="col-md-2">
              <input type="button" value="DISABLE" class="btn btn-danger" (click)="disableFacilities()"/>
          </div>
      </div>
  </div>
  <div class="col-md-9 settings-content" *ngIf="WID == 3">
      <div class="p-2">
          <div class="p-2 report-title">SUB FACILITY SETTINGS</div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Center</label>
          <div class="col-md-4">
              <select class="form-control" [(ngModel)]="center3" (change)="handleCenterSelection(center3,3)">
                <option value=""></option>
                <option *ngFor="let item of centerList" [value]="item.value">{{item.label}}</option>
              </select>
          </div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Facility</label>
          <div class="col-md-4">
              <select class="form-control" [(ngModel)]="facilityId3" (change)="handleFacilitySelection(facilityId3,3)">
                <option value=""></option>
                <option *ngFor="let item of facilityList" [value]="item.facilityId">{{item.facilityName}}</option>
              </select>
          </div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Enable Sub Facility</label>
          <div class="col-md-4">
              <p-multiSelect [options]="SubFacilitiesToEnable"  [(ngModel)]="SubFtoEnable" showHeader=false  styleClass="multiPref" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'260px'}"></p-multiSelect>
          </div>
          <div class="col-md-2">
              <input type="button" value="ENABLE" class="btn btn-success" (click)="enableSubFacilities()"/>
          </div>
      </div>
      <div class="form-group row">
          <label for="staticEmail" class="col-md-3 col-form-label">Disable Sub Facility</label>
          <div class="col-md-4">
              <p-multiSelect [options]="SubFacilitiesToDisable" [(ngModel)]="SubFtoDisable"  showHeader=false  styleClass="multiPref" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'260px'}"></p-multiSelect>
          </div>
          <div class="col-md-2">
              <input type="button" value="DISABLE" class="btn btn-danger" (click)="disableSubFacilities()"/>
          </div>
      </div>
  </div>
</div>